<!DOCTYPE html>
<html>
  <head>
    <title>ChartMyCourse</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <%= csp_meta_tag %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <script src="https://kit.fontawesome.com/572001cbb3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %> <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico')%>
    <%= javascript_include_tag 'application' %>
    <meta property="og:title" content="ChartMyCourse" />
    <meta property="og:image" name="image" content="https://raw.githubusercontent.com/aweil13/ChartMyCourse/main/app/assets/images/splash-page.PNG" />
    <meta property="og:description" content="EPL Team Comparison is a data visualization tool built to compare two premier league teams statistically over the course of a season. 
    It was built using Vanilla Javascript, D3, Webpack, CSS, Git, and HTML, and hosted on Github." />
    <meta property="og:url" content="https://chart-my-course.herokuapp.com/#/" />
  </head>

  <body>
    <%= yield %>
  </body>
</html>
